softdelete/pipeline/BackupContacts.json
{
	"name": "BackupContacts",
	"properties": {
		"activities": [
			{
				"name": "GetLastRun",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT WatermarkValue FROM [dbo].[SQLTableWatermark] where TableName = 'contacts'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLTableWatermark",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetLastRun",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@activity('GetLastRun').output.firstRow.WatermarkValue",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "StoredContacts",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BackupContacts",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SetLastRun",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_sqltablewatermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@pipeline().TriggerTime",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "contacts",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "SQLTableWatermarkLS",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-01-20T15:40:11Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}